.formulario{
    margin: 5% auto;
    width: 50%;
    background-color:$color-secundario;
    padding: 1rem;
    box-sizing: border-box;

    .formulario_input{
        width: 100%;
        margin-bottom:1rem ;
        padding: 1rem;
        box-sizing: border-box;
    }
    
}



