.formulario{
    margin: 5% auto;
    width: 40%;
    background-color:$color-secundario;
    padding: 1rem;
    box-sizing: border-box;
    form h2{
        text-align: center;
    }

    form h3{
        margin: 1rem;
        text-align: center;
    }
    
    .formulario_input{
        width: 100%;
        margin-bottom:1rem ;
        padding: 1rem;
        box-sizing: border-box;
    }
    
}



