/*  ----------------------- HEADER ----------------------- */
header input {
    display: none;
}


nav  {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: $color-principal;

    .nav_logo{
        display: flex;
        &:hover > .palta
        {
            animation: rebote 1s;
        }
        .estilos_logo
        {
            color: $color-letra;
            font-size: $tamanio-letra-logo-grande;
            font-weight: 500;
            letter-spacing: .5px;
        }

        .arg_celeste
        {
            color:$celeste-logo!important;
        }
        
        .arg_blanco
        {
            color:$blanco-logo!important;
        }

    }
/* ---------------------------- CONJUNTO DE PAGINAS --------------------------- */
    .nav_paginas 
    {
        display: flex;

/* ---------------------------- CADA PAGINA POR SEPARADO --------------------------- */
        .nav_pag 
        {
            cursor: pointer;
            height: 75px;
            font-size: $tamanio-letra-links;
            padding: 0 35px;
            transition: .4s;
            color:$color-letra;
            &:hover 
            {
                background: $color-secundario;
            }
        }
    }

@keyframes rebote {
    3%{
        transform: translateY(-5%);
    }
    6%{
        transform: translateY(-10%);
    }
    10%{
        transform: translateY(-20%);
    }
    20%{
        transform: translateY(0%);
    }
    40%{
        transform: translateY(-10%);
    }
    60%{
        transform: translateY(0%);
    }
    80%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0%);
    }
}
}