
.verduras
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    .card
    {
        background-color: $color-secundario;
        width: 25rem;
        border: 2rem;
        padding: 0.8rem;
        border-radius: 5%;
        margin: 1.5rem;
        img
        {
            width: 100%;
            height: 100%;
            border-radius: 5%;
        }

        h3{
            font-size: $tamanio-letra-titulo;
        }

        div
        {
            display: flex;
            justify-content: space-between;
            .boton
            {
                background-color: $color-fondo;
                padding: 1rem;
                border-radius: 50%;
                &:hover{
                    background-color: $color-principal;
                }
            }
        }
    }
}