
.verduras
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    .card
    {
        background-color: #b4954b;
        width: 25rem;
        border: 2rem;
        padding: 0.8rem;
        border-radius: 5%;
        margin: 1.5rem;
        img
        {
            width: 100%;
            height: 100%;
            border-radius: 5%;
        }

        div
        {
            display: flex;
            justify-content: space-between;
            .boton
            {
                background-color: #ddd;
                padding: 1rem;
                border-radius: 50%;
                &:hover{
                    background-color: bisque;
                }
            }
        }
    }
}