$color-principal:rgb(236, 197, 137);
$color-secundario:#b4954b;
$color-fondo:#ddd;
$celeste-logo:#6bbfe0;
$blanco-logo:white;
$color-letra:#000000;
$color-sombra:rgba(0, 0, 0, 0.2);


$tamanio-letra-texto:12px;
$tamanio-letra-texto-chico:10px;

$tamanio-letra-links:15px;
$tamanio-letra-links-medio:13px;

$tamanio-letra-logo-grande:28px;
$tamanio-letra-logo-medio:20px;

$tamanio-letra-titulo:18px;

