*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 13px;
}

a
{
    text-decoration: none;
}

ul{
    list-style-type:none;
}

/*  ----------------------- HEADER ----------------------- */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: rgb(236, 197, 137);

}

nav .nav_logo{
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

.arg_celeste{
    color:#6bbfe0!important;
}

.arg_blanco{
    color:white!important;
}

nav .nav_paginas {
    display: flex;
}

nav .nav_paginas .nav_pag {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
    color:#000000;
}

nav .nav_paginas .nav_pag:hover {
    background: #b4954b;
}

header input {
    display: none;
}


/*  ----------------------- BODY ----------------------- */
main
{
    margin-top:1rem;
    margin-bottom: 8rem;
}

/* --------------------------- INDEX ---------------------------*/

.verduras{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: bisque;
    width: 20rem;
    border: 2rem;
    padding: 0.8rem;
    border-radius: 5%;
    margin: 1.5rem;
    
}

.card img{
    width: 100%;
    height: 70%;
}

.card div{
    display: flex;
    justify-content: space-between;
}
.card div a{
    background-color: rgb(211, 228, 243);
    padding: 0.3rem;
}

/* --------------------------- ABOUT US ---------------------------*/

.grid_about_us{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 3rem min-content;
    grid-template-areas: 
    "img_au title_au"
    "img_au parrafo_au"
    ;
    justify-items: center;
    gap: 1rem;
    font-family: arial;
    margin-bottom: 10rem;
}

.grid_about_us_img
{
    grid-area: img_au;
    width: 100%;
}

.grid_about_us_title
{
    grid-area: title_au;
    margin: 0.5rem;
}

.grid_about_us_parrafo
{
    grid-area: parrafo_au;
}

/* --------------------------- FORMULARIO ---------------------------*/

.formulario{
    margin: 5% auto;
    width: 40%;
    background-color:#b4954b;
    padding: 1rem;
    box-sizing: border-box;
}

.formulario_input{
    width: 100%;
    margin-bottom:1rem ;
    padding: 1rem;
    box-sizing: border-box;
}

form h2{
    text-align: center;
}

form h3{
    margin: 1rem;
}

/* --------------------------- GRID USUARIO ---------------------------*/
.grid_user
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
    "img_u"
    "nom_u"
    "ape_u"
    "mail_u"
    "dir_u"
    "tel_u"
    "tar_u"
    "bot_u"
    ;
    justify-items: center;
    gap: 1rem;
    font-family: arial;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid_user_img
{
    grid-area: img_u;
    width: 20%;
    cursor: pointer;
}

.grid_user_name
{
    grid-area:nom_u;
    z-index: 2;
}

.grid_user_mail
{
    grid-area: mail_u;
    z-index: 2;
}
.grid_user_surname
{
grid-area: ape_u;
z-index: 2;
}

.grid_user_direction
{
    grid-area: dir_u;
}

.grid_user_card
{
    display: flex;
    justify-content: center;
    grid-area: tar_u;
}

.grid_user_card img
{
    width: 5%;
}

.grid_user_tel{
    grid-area: tel_u;
}

.grid_user_button
{
    grid-area: bot_u;
}

.cambiar_imagen{
    display: none;
    position: absolute;
    grid-area: img_u;
    width: 30%;
    cursor: pointer;
    z-index: 1;
}

.grid_user_img:hover ~ .cambiar_imagen{
    display:block;
    opacity: 70%;
    
}   

.boton:hover
{
    background-color: #b4954b;
}
/*  ----------------------- FOOTER ----------------------- */

footer{
    background-color: rgb(236, 197, 137);
    border-radius: 10px 10px 0px 0px; 
    padding: 1.5rem; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.redes{
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

.redes img{
    display: block;
    width: 2rem;
    height: 70%;
    margin-left: 0.5rem;
}

footer p{
font-size: 0.8rem;
}


/* ----------------------- MEDIA QUERIES ----------------------- */

@media screen and (max-width:780px){

    /* -------------------------- NAV -------------------------- */

    nav {
        justify-content: space-around;
    }

    nav .nav_paginas .nav_pag {
        padding: 0 15px;
    }

    /* -------------------------- CONTACTO -------------------------- */

    .formulario{
        margin: 3% auto;
        width: 60%;
    }
    
    /* -------------------------- USER -------------------------- */

    .grid_user_img{
        width: 25%;
    }
    
    .cambiar_imagen{
        width: 40%;
    }

    .grid_user_card img{
        width: 10%
    }
}

@media screen and (max-width:500px){

    /* -------------------------- NAV -------------------------- */
    nav .nav_paginas {
        display: grid;
        position: absolute;
        background: rgb(236, 197, 137);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav_paginas .nav_pag {
        padding-left: 35px;
        text-align: center;
    }

    nav .nav_paginas .nav_pag .nav-link{
        padding: auto;
        width: 100%;
    }

    nav .nav_menu {
        display: grid !important;
    }

    nav .nav_menu {
        display: none;
        height: min-content;
        margin: 18px -10px 0 0;
        cursor: pointer;
    }

    nav .nav_menu .bar {
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background: #000000;
        border-radius: 10%;
        transition: .4s;
    }

    input:checked ~ nav{
        margin-bottom: 24rem;
    }

    input:checked ~ nav .nav_paginas {
        transform: translateY(0);
        z-index: 1;
    
    }

    input:checked ~ nav .nav_menu {
        margin-top: 35px;
    }
    
    input:checked ~ nav .nav_menu .bar:nth-child(1) {
        position: absolute;
        transform: rotate(45deg);
    }

    input:checked ~ nav .nav_menu .bar:nth-child(2) {
        display: none;
    }
    
    input:checked ~ nav .nav_menu .bar:nth-child(3) {
        transform: rotate(-45deg);
    }


    /* -------------------------- CONTACTO -------------------------- */

    .formulario{
        width: 70%;
    }

    /* -------------------------- USER -------------------------- */

    .grid_user_img{
        width: 40%;
    }

    .cambiar_imagen
    {
        width: 50%;
    }
    .grid_user_card img{
        width: 15%;
    }

/* -------------------------- FOOTER -------------------------- */

    footer div p, footer div em{
        font-size: 8px;
    }
}